@model RegisterViewModel

@{ 
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User </h2>

<div class="row">
    <div class="col-8">
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label for="Email" class="form-label">Email address</label>
                <input type="email" class="form-control" asp-for="Email" />
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>